@model Elhoot_HomeDevices.Data.Dayeenatey

@{
    ViewData["Title"] = "Edit";
}

<h1>التعديل</h1>

 
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
               <h4>الاسم</h4>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>الفلوس</h4>
                <input asp-for="Money" class="form-control" />
                <span asp-validation-for="Money" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>التاريخ</h4>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>الفايده</h4>
                <input asp-for="Pienfits" class="form-control" />
                <span asp-validation-for="Pienfits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>عدد الشهور</h4>
                <input asp-for="CountMonth" class="form-control" />
                <span asp-validation-for="CountMonth" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">الرجوع</a>
            </div>
        </form>
    </div>
</div>

<br />
<br />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
