@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 100px;
            padding: 100px;
            font-family: Arial, sans-serif;
            background-color: #f3f3f3; /* Set your desired background color */
            /*background-image: url('/Images/mina.jpeg'); Set the relative path to your image */
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 100vh; /* Set the body height to fill the viewport */
        }


        .text-center {
            text-align:center;
            text-decoration: dashed;
            padding-top: 50px; /* Adjust this value to position the content vertically */
            animation: slideInLeft 1s ease-in-out; /* Apply the animation */
        }

        .display-4 {
            font-size: 3.5rem; /* Adjust the font size as needed */
            color: saddlebrown;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-style: italic;
        }
        
      
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Online Store  </h1>
    </div>
</body>
</html>
