@model Elhoot_HomeDevices.Data.Order

@{
    ViewData["Title"] = "Create";
}

<h1> @ViewBag.CustomerName</h1>

<h4>الطلب</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="productNmae" class="control-label">اسم المنتج</label>
                <input asp-for="productNmae" class="form-control" />
                <span asp-validation-for="productNmae" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllPrice" class="control-label">المبلغ الكلي</label>
                <input asp-for="AllPrice" class="form-control" onblur="formatInputValue(this)" />
                <span asp-validation-for="AllPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayedPrice" class="control-label">المبلغ المدفوع</label>
                <input asp-for="PayedPrice" class="form-control" onblur="formatInputValue(this)" />
                <span asp-validation-for="PayedPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Penfits" class="control-label">النسبه المئويه للفايده</label>
                <input asp-for="Penfits" class="form-control" />
                <span asp-validation-for="Penfits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peroid" class="control-label">الفترة</label>
                <input asp-for="Peroid" class="form-control" />
                <span asp-validation-for="Peroid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayerTime" class="control-label">وقت الدفع</label>
                <input asp-for="PayerTime" class="form-control" />
                <span asp-validation-for="PayerTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Startdate" class="control-label">تاريخ البداية اول قسط</label>
                <input asp-for="Startdate" class="form-control" />
                <span asp-validation-for="Startdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label">تعليق</label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="CustomerId" />
            <div class="form-group">
                <input type="submit" value="اضافه" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">العودة إلى القائمة</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    function formatInputValue(input) {
        var inputValue = input.value.replace(/,/g, ''); // Remove commas
        var formattedValue = new Intl.NumberFormat('ar').format(inputValue); // Format with commas
        input.value = formattedValue;
    }
</script>