@{
    ViewData["Title"] = "Empty Order Index";
}

<h1>الراجل ده ماعندهوش اقساط ولا اى حاجه</h1>
<p>
    <a asp-action="Create" asp-route-customername="@TempData["customername"]"
    class="btn btn-primary"> اضافه قسط</a> 
    </p>
@*// asp-route-customername="@TempData["customername"]*@