@model Elhoot_HomeDevices.Data.Madunaate

@{
    ViewData["Title"] = "Create";
}

<h1>اضافه داين جديد</h1>

 
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               <h4>الاسم</h4>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>الفلوس</h4>
                <input asp-for="Money" class="form-control" onblur="formatInputValue(this)" />

                <span asp-validation-for="Money" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>التاريخ </h4>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>الفوائد</h4>
                <input asp-for="Pienfits" class="form-control" />
                <span asp-validation-for="Pienfits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>عدد الشهور</h4>
                <input asp-for="CountMonth" class="form-control" />
                <span asp-validation-for="CountMonth" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="اضافه" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-secondary">رجوع</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function formatInputValue(input) {
        var inputValue = input.value.replace(/,/g, ''); // Remove commas
        var formattedValue = new Intl.NumberFormat('ar').format(inputValue); // Format with commas
        input.value = formattedValue;
    }
</script>
